@model CeeveeSoftWebProj.Models.Skill

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Skill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SkillContent" class="control-label"> Skill</label>
                <input asp-for="SkillContent" class="form-control" />

                <span asp-validation-for="SkillContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillLevel" class="control-label"> Skill Level (Rate your skill strenght on a scale of 1 - 100)</label>
                <input asp-for="SkillLevel" class="form-control" />

                <span asp-validation-for="SkillContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
