
<div class="cover bg-light">
    <div class="container px-2">
        <div class="row">
            <div class="col-lg-6">
                <div class="mt-5 pt-lg-5">
                    <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">Your Success is Our Mission. </h1>
                    <p class="lead fw-normal mt-4" data-aos="fade-up" data-aos-delay="100">Build your CV with our webapp and have it hosted on our application. All you need is to input your portfolio details and we map it to our template and you get a url to access your resume page from anywhere.</p>
                    <div class="mt-3" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary shadow-sm mt-1 me-2" asp-controller="Portfolios" asp-action="Create">Get Sarted <i class="fas fa-arrow-right ms-1"></i></a></div>
                </div>
            </div>
            <div class="col-lg-6 p-3 pe-lg-0" data-aos="fade-left" data-aos-delay="100"><img class="pt-2 img-fluid" src="Images/building_websites.svg" alt="hello" /></div>
        </div>
    </div>
</div>
<div class="wave-bg"></div>